.toolbar {
  background-color: white;
  padding: 1vh 5vw;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  .center {
    .search-input {
      width: 100%;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      background-color: #f6f8fa;
      outline: none
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-self: right;

    p {
      margin: 0;
      font-size: 0.9rem;
    }

    .user-avatar {
      width: 2.5vw;
      height: 2.5vw;
      border-radius: 50%;
      margin-left: 16px;
    }
  }
}
