<div class="profile-layout">
  <div class="left-column">
    <div class="box mb-16">
      <inv-user-overview></inv-user-overview>
    </div>
    <inv-action-buttons></inv-action-buttons>
  </div>
  <div class="center-column">
    <div class="box">
      <inv-my-tweets></inv-my-tweets>
    </div>
  </div>
  <div class="right-column">
    <div class="box mb-16">
      <inv-trend-list></inv-trend-list>
    </div>
    <div class="box">
      <inv-recommended-people></inv-recommended-people>
    </div>
  </div>
</div>
